################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EDTLBS/EDTLBS.sln
/EDTLBS/EDTLBS.sln
